menu: [
  {
    label: "Random"
    submenu: [
      {
        label: "Random String"
        command: "atom-random:string"
      }
      {
        label: "Random GUID / UUID"
        command: "atom-random:guid"
      }
      {
        label: "Random Integer"
        command: "atom-random:integer"
      }
      {
        label: "Random Boolean"
        command: "atom-random:boolean"
      }
      {
        label: "Random Character"
        command: "atom-random:character"
      }
      {
        label: "Random Floating Point Number"
        command: "atom-random:floating"
      }
      {
        label: "Random Natural"
        command: "atom-random:natural"
      }
      {
        label: "Random Paragraph"
        command: "atom-random:paragraph"
      }
      {
        type: "separator"
      }
      {
        label: "Reseed"
        command: "atom-random:reseed"
      }
    ]
  }
]