menu: [
  {
    label: "Random"
    submenu: [
      {
        label: "Random String"
        command: "random:string"
      }
      {
        label: "Random GUID / UUID"
        command: "random:guid"
      }
      {
        label: "Random Integer"
        command: "random:integer"
      }
      {
        label: "Random Boolean"
        command: "random:boolean"
      }
      {
        label: "Random Character"
        command: "random:character"
      }
      {
        label: "Random Floating Point Number"
        command: "random:floating"
      }
      {
        label: "Random Natural"
        command: "random:natural"
      }
      {
        label: "Random Paragraph"
        command: "random:paragraph"
      }
      {
        label: "Random Sentence"
        command: "random:sentence"
      }
      {
        type: "separator"
      }
      {
        label: "Reseed"
        command: "random:reseed"
      }
    ]
  }
]