menu: [
  {
    label: "Random"
    submenu: [
      {
        label: "Random String"
        command: "random:string"
      }
      {
        label: "Random GUID / UUID"
        command: "random:guid"
      }
      {
        label: "Random Integer"
        command: "random:integer"
      }
      {
        label: "Random Boolean"
        command: "random:boolean"
      }
      {
        label: "Random Character"
        command: "random:character"
      }
      {
        label: "Random Floating Point Number"
        command: "random:floating"
      }
      {
        label: "Random Natural"
        command: "random:natural"
      }
      {
        label: "Random Paragraph"
        command: "random:paragraph"
      }
      {
        label: "Random Sentence"
        command: "random:sentence"
      }
      {
        label: "Random Syllable"
        command: "random:syllable"
      }
      {
        label: "Random Word"
        command: "random:word"
      }
      {
        label: "Random Age"
        command: "random:age"
      }
      {
        label: "Random Birthday"
        command: "random:birthday"
      }
      {
        label: "Random First Name"
        command: "random:firstname"
      }
      {
        label: "Random Last Name"
        command: "random:lastname"
      }
      {
        label: "Random Gender"
        command: "random:gender"
      }
      {
        label: "Random Name"
        command: "random:name"
      }
      {
        label: "Random Prefix"
        command: "random:prefix"
      }
      {
        label: "Random Social Security Number"
        command: "random:ssn"
      }
      {
        label: "Random Suffix"
        command: "random:suffix"
      }
      {
        label: "Random Android ID"
        command: "random:android_id"
      }
      {
        label: "Random Apple Token"
        command: "random:apple_token"
      }
      {
        label: "Random BlackBerry Device PIN"
        command: "random:bb_pin"
      }
      {
        label: "Random Windows Phone 7 ANID"
        command: "random:wp7_anid"
      }
      {
        label: "Random Windows Phone 8 ANID2"
        command: "random:wp8_anid2"
      }
      {
        label: "Random Gravatar"
        command: "random:avatar"
      }
      {
        label: "Random Color"
        command: "random:color"
      }
      {
        label: "Random Domain"
        command: "random:domain"
      }
      {
        label: "Random E-mail"
        command: "random:email"
      }
      {
        label: "Random Facebook ID"
        command: "random:fbid"
      }
      {
        label: "Random Google Analytics Tracking Code"
        command: "random:google_analytics"
      }
      {
        label: "Random Hashtag"
        command: "random:hashtag"
      }
      {
        label: "Random IPv4 Address"
        command: "random:ip"
      }
      {
        label: "Random IPv6 Address"
        command: "random:ipv6"
      }
      {
        label: "Random Klout"
        command: "random:klout"
      }
      {
        label: "Random Top Level Domain Name"
        command: "random:tld"
      }
      {
        label: "Random Twitter"
        command: "random:twitter"
      }
      {
        label: "Random URL"
        command: "random:url"
      }
      {
        label: "Random Address"
        command: "random:address"
      }
      {
        label: "Random Altitude"
        command: "random:altitude"
      }
      {
        label: "Random Area Code"
        command: "random:areacode"
      }
      {
        label: "Random City"
        command: "random:city"
      }
      {
        label: "Random Coordinates"
        command: "random:coordinates"
      }
      {
        label: "Random Country"
        command: "random:country"
      }
      {
        label: "Random Phone Number"
        command: "random:phone"
      }
      {
        label: "Random Postal"
        command: "random:postal"
      }
      {
        label: "Random Province"
        command: "random:province"
      }
      {
        label: "Random State"
        command: "random:state"
      }
      {
        label: "Random Street"
        command: "random:street"
      }
      {
        label: "Random U.S. ZIP Code"
        command: "random:zip"
      }
      {
        label: "Random Date"
        command: "random:date"
      }
      {
        label: "Random Hammertime"
        command: "random:hammertime"
      }
      {
        label: "Random Month"
        command: "random:month"
      }
      {
        label: "Random Year"
        command: "random:year"
      }
      {
        label: "Random Timestamp"
        command: "random:timestamp"
      }
      {
        label: "Random Credit Card Number"
        command: "random:creditcard"
      }
      {
        label: "Random Credit Card Type"
        command: "random:cc_type"
      }
      {
        label: "Random Currency"
        command: "random:currency"
      }
      {
        label: "Random Currency Pair"
        command: "random:currency_pair"
      }
      {
        label: "Random Dollar Amount"
        command: "random:dollar"
      }
      {
        label: "Random Credit Card Expiration"
        command: "random:exp"
      }
      {
        label: "Random Credit Card Expiration Month"
        command: "random:exp_month"
      }
      {
        label: "Random Credit Card Expiration Year"
        command: "random:exp_year"
      }
      {
        label: "Random 4-Sided Dice"
        command: "random:d4"
      }
      {
        label: "Random 6-Sided Dice"
        command: "random:d6"
      }
      {
        label: "Random 8-Sided Dice"
        command: "random:d8"
      }
      {
        label: "Random 10-Sided Dice"
        command: "random:d10"
      }
      {
        label: "Random 12-Sided Dice"
        command: "random:d12"
      }
      {
        label: "Random 20-Sided Dice"
        command: "random:d20"
      }
      {
        label: "Random 30-Sided Dice"
        command: "random:d30"
      }
      {
        label: "Random 100-Sided Dice"
        command: "random:d100"
      }
      {
        label: "Random Hash"
        command: "random:hash"
      }
      {
        label: "Random Normally Distributed Value"
        command: "random:normal"
      }
      {
        label: "Random Radio Station"
        command: "random:radio"
      }
      {
        label: "Random TV Station"
        command: "random:tv"
      }
      {
        type: "separator"
      }
      {
        label: "Reseed"
        command: "random:reseed"
      }
    ]
  }
]