menu: [
  {
    label: "Random"
    submenu: [
      {
        label: "Random String"
        command: "random:string"
      }
      {
        label: "Random GUID / UUID"
        command: "random:guid"
      }
      {
        label: "Random Integer"
        command: "random:integer"
      }
      {
        label: "Random Boolean"
        command: "random:boolean"
      }
      {
        label: "Random Character"
        command: "random:character"
      }
      {
        label: "Random Floating Point Number"
        command: "random:floating"
      }
      {
        label: "Random Natural"
        command: "random:natural"
      }
      {
        label: "Random Paragraph"
        command: "random:paragraph"
      }
      {
        label: "Random Sentence"
        command: "random:sentence"
      }
      {
        label: "Random Syllable"
        command: "random:syllable"
      }
      {
        label: "Random Word"
        command: "random:word"
      }
      {
        label: "Random Age"
        command: "random:age"
      }
      {
        label: "Random Birthday"
        command: "random:birthday"
      }
      {
        label: "Random First Name"
        command: "random:firstname"
      }
      {
        label: "Random Last Name"
        command: "random:lastname"
      }
      {
        label: "Random Gender"
        command: "random:gender"
      }
      {
        label: "Random Name"
        command: "random:name"
      }
      {
        label: "Random Prefix"
        command: "random:prefix"
      }
      {
        label: "Random Social Security Number"
        command: "random:ssn"
      }
      {
        label: "Random Suffix"
        command: "random:suffix"
      }
      {
        label: "Random Android ID"
        command: "random:android_id"
      }
      {
        label: "Random Apple Token"
        command: "random:apple_token"
      }
      {
        label: "Random BlackBerry Device PIN"
        command: "random:bb_pin"
      }
      {
        label: "Random Windows Phone 7 ANID"
        command: "random:wp7_anid"
      }
      {
        label: "Random Windows Phone 8 ANID2"
        command: "random:wp8_anid2"
      }
      {
        label: "Random Gravatar"
        command: "random:avatar"
      }
      {
        label: "Random Color"
        command: "random:color"
      }
      {
        label: "Random Domain"
        command: "random:domain"
      }
      {
        label: "Random E-mail"
        command: "random:email"
      }
      {
        label: "Random Facebook ID"
        command: "random:fbid"
      }
      {
        label: "Random Google Analytics Tracking Code"
        command: "random:google_analytics"
      }
      {
        label: "Random Hashtag"
        command: "random:hashtag"
      }
      {
        label: "Random IPv4 Address"
        command: "random:ip"
      }
      {
        label: "Random IPv6 Address"
        command: "random:ipv6"
      }
      {
        label: "Random Klout"
        command: "random:klout"
      }
      {
        label: "Random Top Level Domain Name"
        command: "random:tld"
      }
      {
        label: "Random Twitter"
        command: "random:twitter"
      }
      {
        label: "Random URL"
        command: "random:url"
      }
      {
        type: "separator"
      }
      {
        label: "Reseed"
        command: "random:reseed"
      }
    ]
  }
]